.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.login-card{
    text-align: center;
    min-width: 600px;
    max-width: 600px;
}