html {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.page-title {
  background-color: #ffffff;
  padding-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-head {
  background-color: #ffffff;
  margin-bottom: 5px;
  padding: 2px;
  display: flex;
}
.navbar {
  z-index: 10;
  position: sticky;
  top: 0px;
  background-color: white;
  margin-bottom: 5px;
}
.navavatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #1990ff;
}
section {
  overflow-y: scroll;
  background-color: rgba(229, 231, 235, 1);
  height: 100vh;
  width: 100%;
}
.container {
  max-width: 1600px;
  margin: auto;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4ca8fd;
}
